body {
  margin: 0;
  font-family: 'Rubik 80s Fade', serif;
  background-image: url('src/images/substrate.webp');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

@font-face {
  font-family: 'Rubik 80s Fade';
  src: url("fonts/Rubik80sFade-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}